<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tonydicola.smartshaker" >
    <permission android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tonydicola.smartshaker.activities.DrinkList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tonydicola.smartshaker.activities.DrinkDetails"
            android:label="@string/title_activity_drink_details" >
        </activity>
        <activity
            android:name="com.tonydicola.smartshaker.activities.PrepareDrink"
            android:label="@string/title_activity_prepare_drink" >
        </activity>
        <activity
            android:name=".activities.ChooseConnection"
            android:label="@string/title_activity_connection" >
        </activity>
    </application>

</manifest>
